@font-face { font-family: 'BEBAS'; src: url("../font/BEBAS.eot"); src: url("../font/BEBAS.woff2") format("woff2"), url("../font/BEBAS.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
* { box-sizing: border-box; }

body { background: #ffffff; }
body::-webkit-scrollbar { width: 7px; /* for vertical scrollbars */ height: 7px; /* for horizontal scrollbars */ border-radius: 10px; }
body::-webkit-scrollbar-track { background: rgba(25, 66, 166, 0.8); }
body::-webkit-scrollbar-thumb { background: #ff802c; }
body::-moz-scrollbar { width: 7px; /* for vertical scrollbars */ height: 7px; /* for horizontal scrollbars */ border-radius: 10px; }
body::-moz-scrollbar-track { background: rgba(25, 66, 166, 0.8); }
body::-moz-scrollbar-thumb { background: #ff802c; }
body::-o-scrollbar { width: 7px; /* for vertical scrollbars */ height: 7px; /* for horizontal scrollbars */ border-radius: 10px; }
body::-o-scrollbar-track { background: rgba(25, 66, 166, 0.8); }
body::-o-scrollbar-thumb { background: #ff802c; }
body::-ms-scrollbar { width: 7px; /* for vertical scrollbars */ height: 7px; /* for horizontal scrollbars */ border-radius: 10px; }
body::-ms-scrollbar-track { background: rgba(25, 66, 166, 0.8); }
body::-ms-scrollbar-thumb { background: #ff802c; }

a { text-decoration: none; transition: 0.2s ease; outline: none; cursor: pointer; }

p { font-size: 18px; line-height: 1.3; }

img { width: 100%; }

.container { max-width: 1200px; margin: 0 auto; padding: 0 20px; }

.button { display: inline-block; background: #fd7115; padding: 17px 20px; border-radius: 4px; color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 18px; transition: .2s; border: none; }
.button.on-dark:hover { background-color: #ff802c; transform: translateY(-5px); -webkit-filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.2)); filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.2)); cursor: pointer; }
.button.on-dark:active { transform: translateY(0px); }
.button.on-light:hover { background-color: #e65c00; transform: translateY(-3px); }
.button.on-light:active { transform: translateY(0px); }
.button.on-ghost { background: #ffffff; border: 1px solid #fd7115; color: #fd7115; }
.button.on-ghost:hover { background-color: #fd7115; color: #ffffff; }
.button a { color: #ffffff; }

.nav-section { background: #ffffff; background: #ffffff; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 11; box-shadow: 0 0px 4px rgba(0, 28, 97, 0.5); }
.nav-section .container { padding: 0 15px; }

.nav { display: flex; align-items: center; padding: 10px 0; margin: 0 auto; }
@media screen and (max-width: 960px) { .nav { justify-content: space-between; } }

.logo { width: 145px; padding: 0 10px; margin-right: auto; }
@media screen and (max-width: 960px) { .logo { margin-right: 0; width: 33.333%; } }
@media screen and (max-width: 500px) { .logo { max-width: 145px; width: 100%; margin: 0 auto; } }
.logo img { max-width: 130px; width: 100%; }

.menu { padding: 0 10px; }
@media screen and (max-width: 960px) { .menu .hide-on-sm-mobile { display: none; } }
@media screen and (max-width: 500px) { .menu .hide-on-xs-mobile { display: none; } }

.menu a { font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 15px; color: #000000; padding: 0 20px; }
.menu a:hover { color: #E65C00; }
.menu a.login { color: #2657c3; }
.menu a.login:hover { color: #E65C00; }
.menu a.signup { padding: 10px 25px; border-radius: 4px; background-color: #fd7115; color: #ffffff; font-size: 14px; line-height: 17px; }
.menu a.signup:hover { background-color: #e65c00; }

.slider-container { background: #1841a5; background: -moz-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: -webkit-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: linear-gradient(45deg, #1841a5 0%, #285ac7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1841a5', endColorstr='#285ac7',GradientType=1 ); padding: 40px 0; position: relative; z-index: 1; color: #ffffff; margin-top: 75px; }
@media screen and (max-width: 690px) { .slider-container { padding: 20px 0 50px 0; } }
.slider-container .slider-bg { max-width: 850px; width: 90%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.slider-container .slider-bg img { max-width: 1000px; width: 100%; }
.slider-container .slides { position: relative; z-index: 3; }
.slider-container .slides .single-slide { display: flex; justify-content: center; align-items: center; }
@media screen and (max-width: 690px) { .slider-container .slides .single-slide { flex-wrap: wrap; text-align: center; } }
.slider-container .slides .single-slide .left-part { width: 60%; }
@media screen and (max-width: 690px) { .slider-container .slides .single-slide .left-part { order: 2; } }
.slider-container .slides .single-slide .right-part { width: 40%; }
@media screen and (max-width: 690px) { .slider-container .slides .single-slide .right-part { order: 1; } }
@media screen and (max-width: 690px) { .slider-container .slides .single-slide .right-part img { margin: 0 auto; } }
.slider-container .slides .single-slide .right-part .floated { animation: float 3s ease-in-out infinite; padding: 14px; }
.slider-container .slides .single-slide .left-part, .slider-container .slides .single-slide .right-part { padding: 0 20px; }
@media screen and (max-width: 690px) { .slider-container .slides .single-slide .left-part, .slider-container .slides .single-slide .right-part { width: 100%; padding: 0; } }
.slider-container .slides .single-slide .heading.slide-heading { font-size: 50px; line-height: 1; font-weight: 800; }
@media screen and (max-width: 1060px) { .slider-container .slides .single-slide .heading.slide-heading { font-size: 40px; } }
@media screen and (max-width: 850px) { .slider-container .slides .single-slide .heading.slide-heading { font-size: 4.3vw; } }
@media screen and (max-width: 690px) { .slider-container .slides .single-slide .heading.slide-heading { font-size: 28px; } }
.slider-container .slides .single-slide .slide-small-text { font-size: 25px; line-height: 1.4; padding: 30px 0 40px; }
@media screen and (max-width: 1060px) { .slider-container .slides .single-slide .slide-small-text { font-size: 20px; padding: 20px 0 30px 0; } }
@media screen and (max-width: 1060px) { .slider-container .slides .single-slide .slide-small-text { font-size: 17px; } }
.slider-container .slides .single-slide .button { font-size: 25px; font-weight: 800; }
@media screen and (max-width: 900px) { .slider-container .slides .single-slide .button { font-size: 20px; } }

.payment-section { background: #f7f7f7; }
.payment-section img { display: block; margin: 0 auto; max-width: 606px; width: 100%; padding: 10px 0; }

.work-section { padding: 80px 0; text-align: center; }
.work-section .heading { font-size: 28px; font-weight: 800; line-height: 1; padding: 0 0 50px 0; }
.work-section .heading span { font-size: 50px; }
@media screen and (max-width: 800px) { .work-section .heading span { font-size: 40px; } }
@media screen and (max-width: 550px) { .work-section .heading span { font-size: 6vw; } }
.work-section .work-block-cont { display: flex; }
@media screen and (max-width: 800px) { .work-section .work-block-cont { display: block; } }
.work-section .work-block-cont .work-block { width: 33.333%; padding: 0 20px; }
@media screen and (max-width: 800px) { .work-section .work-block-cont .work-block { width: 100%; padding: 20px 0; margin: 0 auto; } }
.work-section .work-block-cont .work-block img { max-width: 187px; }
.work-section .work-block-cont .small-heading { font-size: 19px; font-weight: 700; padding: 15px 0 10px 0; }

.target-section { background: #1841a5; background: -moz-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: -webkit-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: linear-gradient(45deg, #1841a5 0%, #285ac7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1841a5', endColorstr='#285ac7',GradientType=1 ); padding: 80px 0; text-align: center; color: #ffffff; }
.target-section .heading { font-size: 28px; font-weight: 800; line-height: 1; padding: 0 0 15px 0; }
@media screen and (max-width: 550px) { .target-section .heading { font-size: 7vw; } }
.target-section .heading span { font-size: 36px; }
@media screen and (max-width: 800px) { .target-section .heading span { font-size: 28px; } }
@media screen and (max-width: 550px) { .target-section .heading span { font-size: 4.9vw; } }
.target-section .target-block-cont { padding: 50px 0; display: flex; justify-content: space-around; }
@media screen and (max-width: 800px) { .target-section .target-block-cont { flex-wrap: wrap; } }
.target-section .target-block-cont .target-block { width: 25%; padding: 0 20px; }
@media screen and (max-width: 800px) { .target-section .target-block-cont .target-block { width: 50%; padding: 0; } }
.target-section .target-block-cont .target-block img { max-width: 205px; width: 100%; transition: .3s; }
@media screen and (max-width: 800px) { .target-section .target-block-cont .target-block img { padding: 10px; } }
.target-section .target-block-cont .target-block img:hover { transform: translateY(-5px); -webkit-filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.6)); filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.6)); }

.earn-section { padding: 80px 0 50px 0; text-align: center; }
.earn-section .heading { font-size: 33px; font-weight: 800; line-height: 1; padding: 0 0 15px 0; }
@media screen and (max-width: 550px) { .earn-section .heading { font-size: 6.5vw; } }
.earn-section .earn-block-cont { display: flex; padding: 50px 0 0 0; }
.earn-section .earn-block-cont .earn-block { text-align: left; padding: 0 20px; }
.earn-section .earn-block-cont .earn-block .heading { font-size: 28px; font-weight: 700; letter-spacing: -0.5px; }
@media screen and (max-width: 550px) { .earn-section .earn-block-cont .earn-block .heading { font-size: 22px; } }
.earn-section .earn-block-cont .earn-block img { padding: 0 0 20px 0; }
.earn-section .earn-block-cont .earn-block .bold-text { font-weight: 700; padding: 35px 0 15px 0; letter-spacing: -0.3px; }
.earn-section .earn-block-cont .earn-block .button { float: right; margin-top: 25px; }
.earn-section .earn-block-cont .earn-block .button.on-light:hover { transform: translateY(0); }

.start-section { background: #1841a5; background: -moz-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: -webkit-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: linear-gradient(45deg, #1841a5 0%, #285ac7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1841a5', endColorstr='#285ac7',GradientType=1 ); padding: 80px 0; text-align: center; color: #ffffff; }
.start-section .heading { font-size: 33px; font-weight: 800; line-height: 1; padding: 0 0 50px 0; }
@media screen and (max-width: 800px) { .start-section .heading { padding: 0 0 30px 0; } }
.start-section .start-block-cont { display: flex; justify-content: space-around; align-items: flex-start; padding-bottom: 50px; }
@media screen and (max-width: 800px) { .start-section .start-block-cont { display: block; padding-bottom: 25px; } }
.start-section .start-block-cont .start-block { width: 33.333%; display: flex; padding: 0 15px; }
@media screen and (max-width: 800px) { .start-section .start-block-cont .start-block { width: 100%; margin: 0 auto; padding: 15px 0; } }
.start-section .start-block-cont .start-block .start-number p { font-size: 55px; padding-right: 15px; font-family: 'BEBAS', sans-serif; font-weight: normal; font-style: normal; }
.start-section .start-block-cont .start-block .start-text { text-align: left; }
.start-section .start-block-cont .start-block .start-text p:first-child { font-size: 19px; font-weight: 700; padding-bottom: 8px; }

.align-center { text-align: center; }

.row { margin: -20px 0; }
.row:after { content: ""; display: table; clear: both; }
.row .col { padding: 0 20px; float: left; box-sizing: border-box; }
.row .col.x-50 { width: 50%; }
.row .col.x-100 { width: 100%; }

.get-in-touch { max-width: 850px; margin: 0 auto; padding: 80px 0; }
.get-in-touch .heading { text-align: center; text-transform: uppercase; font-size: 36px; font-weight: 800; line-height: 1; padding-bottom: 50px; }
@media screen and (max-width: 400px) { .get-in-touch .heading { font-size: 8vw; } }

.contact-form .form-field { position: relative; margin: 50px 0; }
@media screen and (max-width: 600px) { .contact-form .form-field { margin: 30px 0; } }
.contact-form .form-field input { border-radius: 0; }
.contact-form .form-field.form-field-button { margin: 10px 0; }
.contact-form .input-text { display: block; width: 100%; height: 36px; border-width: 0 0 2px 0; border-color: #000; font-size: 18px; line-height: 26px; font-weight: 400; }
.contact-form .input-text:focus { outline: none; }
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label { transform: translateY(-24px); }
.contact-form .label { position: absolute; left: 20px; bottom: 11px; font-size: 18px; line-height: 26px; font-weight: 400; color: #888; cursor: text; transition: transform .2s ease-in-out; }
.contact-form .button { cursor: pointer; }
.contact-form .button:hover { background-color: #e65c00; }
.contact-form .small-text { padding: 30px 0 10px; font-size: 16px; }

@media screen and (max-width: 600px) { .row .col.x-50 { width: 100%; } }

.note { position: absolute; left: 0; bottom: 10px; width: 100%; text-align: center; font-size: 16px; line-height: 21px; }
.note .link { color: #888; text-decoration: none; }
.note .link:hover { text-decoration: underline; }

.footer { background: #e6e6e6; padding: 30px 0; }
.footer p { font-size: 14px; }
.footer .footer-content { display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; }
@media screen and (max-width: 880px) { .footer .footer-content { align-items: center; } }
.footer .footer-content .logo-footer { width: 20%; position: relative; bottom: 8px; }
@media screen and (max-width: 880px) { .footer .footer-content .logo-footer { width: 30%; } }
@media screen and (max-width: 520px) { .footer .footer-content .logo-footer { width: 100%; text-align: center; padding: 0 0 10px 0; } }
.footer .footer-content .logo-footer img { max-width: 160px; width: 100%; }
.footer .footer-content .links { display: flex; width: 32%; margin-left: 60px; flex-wrap: wrap; }
@media screen and (max-width: 880px) { .footer .footer-content .links { width: 55%; } }
@media screen and (max-width: 520px) { .footer .footer-content .links { width: 100%; margin: 0 auto; justify-content: center; } }
.footer .footer-content .links a { width: 125px; padding: 0 0 10px 0; font-size: 14px; color: #000000; transition: .2s; }
@media screen and (max-width: 520px) { .footer .footer-content .links a { width: auto; padding: 10px 20px; } }
.footer .footer-content .links a:hover { color: #E65C00; }
.footer .footer-content .outro { width: 35%; }
@media screen and (max-width: 880px) { .footer .footer-content .outro { width: 100%; padding: 20px 0 0 0; } }
@media screen and (max-width: 520px) { .footer .footer-content .outro { width: 100%; } }

.slides:not(.slick-initialized) .slide-before-slick { display: none; }

.slick-prev:before, .slick-next:before { content: ''; display: block; width: 21px; height: 41px; background: url("../img/arrow.png") center center/contain no-repeat; position: relative; }

.slick-prev:before { right: 20px; }

.slick-next:before { transform: rotate(180deg); left: 20px; }

.slick-slide .slide-img { max-width: 457px; width: 100%; }
@media screen and (max-width: 690px) { .slick-slide .slide-img { width: 50%; } }

@media screen and (max-width: 690px) { .slick-dots { bottom: -40px; } }

@keyframes float { 0% { transform: translatey(7px); }
  50% { transform: translatey(-7px); }
  100% { transform: translatey(7px); } }
@media screen and (max-width: 1080px) { .earn-section .earn-block-cont { display: block; }
  .earn-section .earn-block-cont .earn-block { display: inline-block; padding: 0 0 20px; } }
@media screen and (max-width: 980px) { .menu a { padding: 0 10px; } }
@media screen and (max-width: 900px) { p { font-size: 16px; } }
img[src^="//my.rtmark.net/"] { position: absolute; top: 0; left: 0; visibility: hidden; }

hr { width: 85%; color: #ffffff; }

.hamburger { width: 220px; height: 100%; position: fixed; left: -230px; top: 0; background-color: #1942a6; box-shadow: 1px 0 5px #001c61; transition: all ease 1s; z-index: 12; }

.close-hamburger { float: right; min-height: 30px; padding-right: 18px; padding-top: 23px; cursor: pointer; }

.hamburger ul { padding-left: 0; margin-top: 80px; }

.hamburger li { list-style: none; text-decoration-style: none; line-height: 170%; padding: 5px 0 5px 20px; }

.hamburger li a { text-decoration: none; text-transform: uppercase; font-size: 16px; color: #ffffff; font-weight: 600; display: inline-block; }
.hamburger li a.login { color: #ffffff; font-size: 20px; }
.hamburger li a.signup { color: #fd7d28; font-size: 24px; line-height: 1; display: none; }
@media screen and (max-width: 500px) { .hamburger li a.signup { display: block; } }

.hamburger li:hover { cursor: pointer; }

.show-on-sm-mobile { display: none; }
@media screen and (max-width: 500px) { .show-on-sm-mobile { display: block; } }

.mhead { width: 25.333%; }
@media screen and (min-width: 961px) { .mhead { display: none; } }
@media screen and (max-width: 500px) { .mhead { position: absolute; width: auto; } }
.mhead img { max-width: 25px; width: 100%; }
.mhead img:hover { cursor: pointer; }

/* Outer */
.popup { width: 100%; height: 100%; display: none; position: fixed; padding-top: 70px; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 999999 !important; }

.popup-container { display: flex; justify-content: center; }

/* Inner */
.popup-inner { background: #1841a5; background: -moz-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: -webkit-linear-gradient(45deg, #1841a5 0%, #285ac7 100%); background: linear-gradient(45deg, #1841a5 0%, #285ac7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1841a5', endColorstr='#285ac7',GradientType=1 ); padding: 40px 20px; margin-top: 74px; position: relative; }
@media screen and (max-width: 550px) { .popup-inner { padding: 30px 5px; } }
.popup-inner::-webkit-scrollbar { width: 12px; /* for vertical scrollbars */ height: 12px; /* for horizontal scrollbars */ border-radius: 10px; }
.popup-inner::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); }
.popup-inner::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5); }

/* [start] Close Button */
.popup-close { width: 30px; height: 30px; padding-top: 4px; display: inline-block; position: absolute; top: 22px; right: 22px; transition: ease 0.25s all; -webkit-transform: translate(50%, -50%); transform: translate(50%, -50%); border-radius: 1000px; background: rgba(0, 0, 0, 0.8); font-family: Arial, Sans-Serif; font-size: 20px; text-align: center; line-height: 100%; color: #fff; background-color: #000000; }

.popup-close:hover { -webkit-transform: translate(50%, -50%) rotate(180deg); transform: translate(50%, -50%) rotate(180deg); background: #fd7115; text-decoration: none; }

/* [end] Close Button */
.popup-content { padding: 5px; text-align: center; color: #ffffff; }
.popup-content h1 { color: #ffffff; font-size: 30px; font-family: 'Open Sans', sans-serif; font-weight: 700; padding-bottom: 40px; }
@media screen and (max-width: 1100px) { .popup-content h1 { padding-bottom: 18px; } }
@media screen and (max-width: 550px) { .popup-content h1 { font-size: 5vw; } }
.popup-content .start-block-cont { display: flex; justify-content: space-around; align-items: flex-start; padding-bottom: 50px; }
@media screen and (max-width: 1100px) { .popup-content .start-block-cont { display: block; padding-bottom: 25px; } }
.popup-content .start-block-cont .start-block { width: 33.333%; display: flex; padding: 0 15px; }
@media screen and (max-width: 1100px) { .popup-content .start-block-cont .start-block { width: 100%; margin: 0 auto; padding: 15px 0; } }
.popup-content .start-block-cont .start-block .start-number p { font-size: 55px; padding-right: 15px; font-family: 'BEBAS', sans-serif; font-weight: normal; font-style: normal; }
@media screen and (max-width: 1100px) { .popup-content .start-block-cont .start-block .start-number p { font-size: 30px; } }
.popup-content .start-block-cont .start-block .start-text { text-align: left; }
.popup-content .start-block-cont .start-block .start-text p:first-child { font-size: 24px; font-weight: 700; padding-bottom: 8px; }
@media screen and (max-width: 550px) { .popup-content .start-block-cont .start-block .start-text p:first-child { font-size: 18px; } }
.popup-content .start-block-cont .start-block .start-text p { font-size: 16px; }
@media screen and (max-width: 550px) { .popup-content .start-block-cont .start-block .start-text p { font-size: 14px; } }
.popup-content .button { padding: 17px 40px; font-size: 25px; }

@media screen and (max-width: 760px) { .popup-content { width: 100%; } }
form { padding: 15px; }

input, textarea, select, button { margin: 0; -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */ -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */ box-sizing: border-box; }

.popup-form-hidden { display: none; }

.accordion { max-width: 800px; margin: 0 auto; }

.accordion li { position: relative; text-align: left; margin-bottom: 15px; }

.accordion p { display: none; padding: 20px 15px 20px; color: yellow; background: #193a85; margin-top: -2px; }

.accordion a { width: 100%; display: block; cursor: pointer; font-weight: 600; line-height: 3; font-size: 16px; text-indent: 15px; user-select: none; background: #122a5f; border-radius: 5px; }

.accordion a:after { width: 8px; height: 8px; border-right: 3px solid #ffffff; border-bottom: 3px solid #ffffff; position: absolute; right: 10px; content: " "; top: 17px; transform: rotate(45deg); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; margin-right: 5px; }

.accordion a.active:after { top: 20px; transform: rotate(-135deg); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

input[type=submit] { display: inline-block; background: #fd7115; padding: 17px 20px; border-radius: 4px; color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 18px; transition: .2s; border: none; cursor: pointer; }
input[type=submit]:hover { background-color: #ff802c; transform: translateY(-5px); -webkit-filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.2)); filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.2)); cursor: pointer; }
input[type=submit]:active { transform: translateY(0px); }

label { font-size: 14px; display: block; padding: 5px 0 0; }

input, input[type=text] { width: 100%; padding: 12px 10px; margin: 8px 0; display: inline-block; border-radius: 4px; box-sizing: border-box; border-width: 0; }

input[type=submit] { width: 200px; }

.im-container, .contry-container { display: flex; }

select { width: 30%; padding: 12px 10px; margin: 8px 0; display: block; border-radius: 4px; box-sizing: border-box; margin-right: 20px; }

select#source { width: 100% !important; }

/* Customize the label (the container) */
.checkbox-container { display: flex; justify-content: space-between; align-items: flex-start; padding: 15px 0 0; flex-wrap: wrap; }

.provement { text-align: left; padding: 0 5px; max-width: 800px; width: 100%; margin: 0 auto; }
.provement p { font-weight: 600; line-height: 2; font-size: 16px; padding: 0 0 10px 0; }
.provement .checkbox-container { display: block; padding: 15px 0; text-align: left; }
.provement .checkbox-container .label-text { width: 100%; }

.label-text { width: 20%; display: block; position: relative; padding-left: 32px; padding-right: 8px; margin-bottom: 12px; cursor: pointer; font-size: 14px; line-height: 1.3; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
@media screen and (max-width: 800px) { .label-text { width: 50%; } }
@media screen and (max-width: 450px) { .label-text { width: 100%; } }

/* Hide the browser's default checkbox */
.label-text input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }

/* Create a custom checkbox */
.checkmark { position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; }

/* On mouse-over, add a grey background color */
.label-text:hover input ~ .checkmark { background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.label-text input:checked ~ .checkmark { background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none; }

/* Show the checkmark when checked */
.label-text input:checked ~ .checkmark:after { display: block; }

/* Style the checkmark/indicator */
.label-text .checkmark:after { left: 9px; top: 5px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

@media screen and (max-width: 575px) { #rc-imageselect, .g-recaptcha { transform: scale(0.77); -webkit-transform: scale(0.77); transform-origin: 0 0; -webkit-transform-origin: 0 0; } }
.popup-inner.popup-inner-full-height { height: 100vh; }

.forgot-password-container { max-width: 600px; margin: 0 auto; width: 100%; text-align: center; }
.forgot-password-container p { text-align: left; padding: 0 0 20px 0; line-height: 1.5; }
@media screen and (max-width: 575px) { .forgot-password-container p { font-size: 14px; } }
.forgot-password-container input { margin: 10px 0; padding: 15px 10px; }
.forgot-password-container .provement p { padding: 0 0 5px 0; }
.forgot-password-container .additional-links { display: flex; justify-content: space-between; font-size: 14px; padding: 15px 0; }
.forgot-password-container .additional-links a { color: #ffffff; text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
